.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:is(h1) {
    font-family: GreycliffCF, sans-serif;
    font-weight: 900;
    text-align: center;
    margin: 10px 0;
  }

  &:is(h5, h6) {
    color: var(--mantine-color-dimmed);
    margin: 10px 0;
  }
}
